.login-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login-page__main-section__form__input {
  display: flex;
  flex-direction: column;
}

.login-page__main-section__form__input input {
  margin-top: 10px;
}
