.search__wrapper {
  position: relative;
}

.search__button {
  padding: 10px 20px;
  background-color: #94d447;
  border: none;
  color: white;
}

fa-icon {
  position: absolute;
  left: 10px;
  color: gray;
  top: 10px;
}
