.new-course {
  padding: 20px;
  width: 50%;
}

.new-course__form-input,
app-date-input,
app-duration-input,
app-authors-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.long-input {
  width: 100%;
}

textarea.long-input {
  height: 100px;
}

.new-course__buttons {
  margin-top: 10px;
  text-align: right;
}

.new-course__buttons button {
  font-size: 16px;
}

.new-course__buttons__save {
  background-color: #94d447;
  padding-left: 30px;
  padding-right: 30px;
}

.new-course__buttons__save[disabled] {
  background-color: #bee491;
}

.ng-dirty.ng-touched.ng-invalid:not(form) {
  border: 1px solid red;
}

.input-error {
  color: red;
  margin-left: 20px;
}
