<app-header></app-header>
<app-breadcrumbs [courseTitle]="course.name" *ngIf="course"></app-breadcrumbs>
<section class="input-page__main-section">
  <div class="input-page__main-section__form new-course">
    <form (ngSubmit)="onSave(form)" #form="ngForm">
      <h1>{{(course ? 'EDIT_COURSE.EDIT_TITLE' : 'EDIT_COURSE.NEW_TITLE') | translate}}</h1>
      <div class="new-course__form-input">
        <div class="label-wrapper">
          <label for="name" class="input-label">
            {{'EDIT_COURSE.NAME_LABEL' | translate}}
          </label>
          <p class="input-error" *ngIf="!title.valid && title.touched">
            {{'EDIT_COURSE.NAME_VALIDATION' | translate}}
          </p>
        </div>
        <input
          class="wide-input long-input"
          type="text"
          placeholder="Video Course Title"
          id="name"
          [ngModel]="course?.name || ''"
          name="title"
          required
          [maxlength]="50"
          #title="ngModel"
        />
      </div>
      <div class="new-course__form-input">
        <div class="label-wrapper">
          <label for="description" class="input-label">
            {{'EDIT_COURSE.DESCRIPTION_LABEL' | translate}}
          </label>
          <p
            class="input-error"
            *ngIf="!description.valid && description.touched"
          >
            {{'EDIT_COURSE.DESCRIPTION_VALIDATION' | translate}}
          </p>
        </div>
        <textarea
          class="wide-input long-input"
          placeholder="{{'EDIT_COURSE.DESCRIPTION_PLACEHOLDER' | translate}}"
          id="description"
          [ngModel]="course?.description || ''"
          name="description"
          required
          [maxlength]="500"
          #description="ngModel"
        ></textarea>
      </div>
      <app-date-input
        [dateValue]="course?.date || ''"
        name="creationDate"
        #creationDate="ngModel"
        [ngModel]="creationDate"
        validateDate
      >
        <p *ngIf="!creationDate.valid" class="input-error">
          {{'EDIT_COURSE.DATE_VALIDATION' | translate}}
        </p>
      </app-date-input>
      <app-duration-input
        [duration]="course?.length || ''"
        name="duration"
        #duration="ngModel"
        [ngModel]="duration"
        validateNumber
      >
        <p *ngIf="!duration.valid" class="input-error">
          {{'EDIT_COURSE.DURATION_VALIDATION' | translate}}
        </p>
      </app-duration-input>
      <app-authors-input
        [selectedAuthors]="course?.authors || ''"
      >
      <p *ngIf="!authors.length" class="input-error">
        {{'EDIT_COURSE.AUTHORS_VALIDATION' | translate}}
      </p>
      </app-authors-input>
      <div class="new-course__buttons">
        <button class="wide-button" (click)="onCancel()">
          {{'EDIT_COURSE.CANCEL_BUTTON' | translate}}
        </button>
        <button
          class="new-course__buttons__save wide-button"
          type="submit" [disabled]="!form.valid || !authors.length"
        >
          {{'EDIT_COURSE.SAVE_BUTTON' | translate}}
        </button>
      </div>
    </form>
  </div>
</section>
<app-footer></app-footer>
