<div class="login-page">
  <app-header></app-header>
  <section class="input-page__main-section">
    <form class="input-page__main-section__form" #form="ngForm" (ngSubmit)="onLogin(form)">
      <h1>Login</h1>
      <div class="login-page__main-section__form__input">
        <label for="login">Login</label>
        <input
          type="text"
          placeholder="Enter your login"
          class="wide-input"
          placeholder="Enter login"
          id="login"
          required
          name="login"
          ngModel
          #login="ngModel"
        />
      </div>
      <div class="login-page__main-section__form__input">
        <label for="password">Password</label>
        <input
          type="password"
          class="wide-input"
          placeholder="Enter password"
          id="password"
          required
          name="password"
          ngModel
          #password="ngModel"
        />
      </div>
      <button
        type="submit"
        class="wide-button login-page__main-section__form__login-button"
        routerLink="/login"
        [disabled]="!form.valid"
      >Log In</button>
    </form>
  </section>
  <app-footer></app-footer>
</div>
