<div class="course__header">
  <h2 class="course__header__title">Video Course {{course.id}}: {{course.title}}<fa-icon [icon]="starIcon"
      *ngIf="course.topRated"></fa-icon>
  </h2>
  <div class="course__header__detail">
    <div><fa-icon [icon]="durationIcon"></fa-icon>{{course.duration | durationPipe}}</div>
    <div><fa-icon [icon]="dateIcon"></fa-icon>{{course.creationDate | date}}</div>
  </div>
</div>
<div class="course__body">
  <p class="course__body__description">{{course.description}}</p>
  <div class="course__body__actions">
    <a class="blue-link" [routerLink]="['/courses', course.id]">
      <fa-icon [icon]="editIcon"></fa-icon>Edit
    </a>
    <button type="button" (click)="onDelete()" class="wide-button">
      <fa-icon [icon]="deleteIcon"></fa-icon>Delete
    </button>
  </div>
</div>
