<div class="course__header">
  <h2 class="course__header__name">
    {{'COURSE.TITLE' | translate }}: {{course.name}}<fa-icon [icon]="starIcon"
      *ngIf="course.isTopRated"></fa-icon>
  </h2>
  <div class="course__header__detail">
    <div><fa-icon [icon]="durationIcon"></fa-icon>{{course.length | durationPipe}}</div>
    <div><fa-icon [icon]="dateIcon"></fa-icon>{{course.date | date}}</div>
  </div>
</div>
<div class="course__body">
  <p class="course__body__description">{{course.description}}</p>
  <div class="course__body__actions">
    <a class="blue-link" [routerLink]="['/courses', course.id]">
      <fa-icon [icon]="editIcon"></fa-icon>
      {{'COURSE.EDIT_BUTTON' | translate}}
    </a>
    <button type="button" (click)="onDelete()" class="wide-button">
      <fa-icon [icon]="deleteIcon"></fa-icon>
      {{'COURSE.DELETE_COURSE' | translate}}
    </button>
  </div>
</div>
