<div class="course__header">
  <h1 class="course__header__title">Video Course {{ course.id }}: {{ course.title }}</h1>
  <div class="course__header__detail">
    <div><fa-icon [icon]="durationIcon"></fa-icon>{{course.duration}} min</div>
    <div><fa-icon [icon]="dateIcon"></fa-icon>{{course.creationDate}}</div>
  </div>
</div>
<div class="course__body">
  <p class="course__body__description">{{course.description}}</p>
  <div class="course__body__actions">
    <a href="#" class="blue-link"><fa-icon [icon]="editIcon"></fa-icon>Edit</a>
    <button type="button" (click)="onDelete()" class="blue-button"><fa-icon [icon]="deleteIcon"></fa-icon>Delete</button>
  </div>
</div>
