<div class="authors__autosuggest">
  <div class="label-wrapper">
    <label for="authors" class="input-label">
      {{ 'EDIT_COURSE.AUTHORS_LABEL' | translate }}
    </label>
    <ng-content></ng-content>
  </div>
  <div class="authors__input-wrapper">
    <input
      list="authors"
      class="wide-input"
      type="text"
      placeholder="{{ 'EDIT_COURSE.AUTHORS_PLACEHOLDER' | translate }}"
      [ngModel]="selected"
      (ngModelChange)="changeValue($event)"
      #authorsInput
      required
    >
    <datalist id="authors">
      <option *ngFor="let author of possibleAuthors" [value]="author?.name">
    </datalist>
    <div *ngIf="selectedAuthors?.length" class="authors__selected">
      <app-author
        *ngFor="let author of selectedAuthors"
        [name]="author?.name"
      ></app-author>
    </div>
  </div>
</div>
